@charset 'utf-8';
@use 'variables' as var;
@use 'colors' as clr;

// based partly on https://github.com/astro-community/astro-embed/tree/main/packages/astro-embed-twitter

$tc-corner-radius: 1em;
$tc-padding: 1em;

.toot-blockquote {
	line-height: 1.35em; // for non-`p` results from $text
	font-family: var.$social-sans-serif;
	font-size: var.$text-base;
	@media screen and (min-width: var.$bkpt_md) {
		font-size: var.$text-xl;
	}
	p {
		margin-top: 0; //reset
		margin-bottom: 1em;
		line-height: 1.35em;
	}
	margin: 1.5rem auto;
	padding: 1rem;
	border: 2px solid;
	border-color: clr.$gray-700;
	border-radius: 12px;
	background: var(--white);
	width: 100%;
	@media screen and (min-width: var.$bkpt_ml) {
		width: 80%;
	}
	@media screen and (min-width: var.$bkpt_lg) {
		width: 85%;
	}
	// @media screen and (min-width: var.$bkpt_2xl) {
	//   width: 85%;
	// }
	@media screen and (min-width: var.$bkpt_3xl) {
		max-width: 80ch;
	}
	@media (prefers-color-scheme: dark) {
		background: clr.$gray-900;
		// background: transparent;
	}
	a, a:hover {
		border: none !important;
		text-decoration: none;
		overflow-wrap: break-word;
		word-wrap: break-word;
		word-break: break-word;
		/*
		See:
		- https://css-tricks.com/snippets/css/prevent-long-urls-from-breaking-out-of-container/
		- https://css-tricks.com/where-lines-break-is-complicated-heres-all-the-related-css-and-html/
		- https://css-tricks.com/better-line-breaks-for-long-urls/
		*/
		@media (prefers-color-scheme: dark) {
			color: var(--default-dark-link);
		}
	}
	@media (prefers-color-scheme: dark) {
		border: 2px solid;
		border-color: clr.$gray-200;
		color: var(--white);
	}
}

.toot-body {
	text-align: left !important;
}

// ==== rounded image "attachment"
// Eleventy version
.toot-images {
	img {
		border-radius: 12px;
	}
}
// Hugo version
.toot-media-img {
	width: 100%; // overcoming something in Andy Bell's `reset`
	height: auto;
	aspect-ratio: 1;
	object-fit: cover;
}

.toot-blockquote-img {
	border-bottom: 1px solid;
	border-bottom-color: clr.$gray-700;
	@media (prefers-color-scheme: dark) {
		border-bottom-color: clr.$gray-300;
	}
	width: 100%;
}

.toot-player {
	display: flex;
}

// ==== END, rounded image "attachment"

a > .card, a > .toot-card {
	color: clr.$gray-800;
	@media (prefers-color-scheme: dark) {
		color: clr.$gray-300;
	}
}

.card {
	overflow: hidden;
	margin-top: 1em;
	border-radius: 12px;
	border: 1px solid;
	border-color: clr.$gray-700;
	@media (prefers-color-scheme: dark) {
		border-color: clr.$gray-300;
	}
	p {
		padding: 0.5em 1em 1em;
		line-height: 1.4;
		margin-top: 0;
		font-size: var.$text-sm;
		.card-title {
			color: var(--black);
			@media (prefers-color-scheme: dark){
				color: var(--white);
			}
		}
	}
}


.toot-header {
	display: flex;
	.toot-profile {
		margin-right: 0.5em;
		margin-bottom: 1em;
		flex-shrink: 0;
		img {
			border-radius: 9999px;
			width: 48px;
			height: auto;
		}
	}
	.toot-author {
		display: flex;
		flex-direction: column;
		flex-grow: 1;
		&-name {
			font-weight: bold;
			font-size: var.$text-base;
			color: var(--black);
			@media (prefers-color-scheme: dark) {
				color: var(--white);
			}
			line-height: 1.375;
		}
		&-handle {
			color: clr.$gray-700;
			@media (prefers-color-scheme: dark) {
				color: clr.$gray-300;
			}
			font-size: var.$text-sm;
			line-height: 1;
		}
		.toot-bird {
			margin-left: 1.25rem;
		}
	}
}

.toot-footer {
	margin-top: 1rem;
	display: flex;
	align-items: center;
	color: clr.$gray-800;
	font-size: var.$text-sm;
	@media (prefers-color-scheme: dark) {
		color: clr.$gray-200;
	}
	.toot-like-icon, .toot-like-count {
		display: none;
	}
	a {
		color: clr.$gray-800;
		@media (prefers-color-scheme: dark) {
			color: clr.$gray-200;
		}
		&:hover {
			color: var(--default-light-link);
			@media (prefers-color-scheme: dark) {
				color: var(--default-dark-link);
			}
		}
	}
	/* === needed in Eleventy but not in Hugo
	.toot-date:after {
		content: " (UTC)";
		font-size: var.$text-xs;
	}
	*/
}

[class^='toot-img-grid'],
.toot-video-wrapper,
.toot-media-video {
	margin-top: 0.5em;
	border-radius: $tc-corner-radius;
	overflow: hidden;
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	grid-gap: 2px;
}

.toot-video-wrapper {
	border-radius: $tc-corner-radius;
	display: block;
	// overriding previous
	position: relative;
}

.toot-img-grid-3 {
	grid-template-columns: repeat(2, 1fr);
}

.toot-img-grid-3 .toot-media-img {
	aspect-ratio: 1.8;
}

.toot-img-grid-3 :nth-child(1) {
	grid-row: 1 / span 2;
	height: 100%;
}

.toot-img-grid-3 :nth-child(1) .toot-media-img {
	aspect-ratio: 0.9;
}

.toot-img-grid-2,
.toot-img-grid-4 {
	grid-template-columns: repeat(2, 1fr);
}

.toot-sens-blur {
	filter: blur(5rem);
	position: relative;
}

.toot-sens-blur-no {
	filter: none !important;
	z-index: 9999 !important;
	position: relative;
}

[class^='toot-img-grid'] {
	position: relative;
}

.blur-text {
	position: absolute;
	font-weight: bold;
	text-shadow: 0.125em 0.125em 0.1em var(--black);
	width: 100%;
	top: 40%;
	color: var(--white);
	text-align: center;
	font-size: 1.5em;
	line-height: 1.2;
}

.blur-text-no {
	display: none !important;
	background-color: var(--black);
}

.toot-poll {
	&-wrapper {
		display: grid;
		grid-template-columns: 3.5em 0.5fr 1fr;
		grid-gap: 1em;
		line-height: 1;
	}
	&-count {
		grid-column: 1;
		text-align: right;
	}
	&-meter {
		grid-column: 2;
		meter {
			width: 100%;
		}
	}
	&-title {
		grid-column: 3;
	}
	&-total {
		padding-top: 1em;
	}
}

.toot-quoted-tweet {
	border: 1px solid;
	border-color: clr.$gray-800;
	@media (prefers-color-scheme: dark) {
		border-color: clr.$gray-200;
	}
	border-radius: 12px;
	padding: 1em 1em 0.5em 1em;
	margin-top: 0.75em;
	margin-bottom: 0;
	p {
		font-size: var.$text-sm;
		margin: 0 0 0.5em;
		line-height: 1.4;
		.toot-quoted-toot-profile-image {
			border-radius: 9999px;
			width: 18px;
			height: auto;
			display: inline;
		}
	}
	p.toot-quoted-toot-head {
		margin-bottom: 0.25em;
		a {
			color: clr.$gray-800;
			@media (prefers-color-scheme: dark) {
				color: clr.$gray-200;
			}
			&:hover {
				color: var(--default-light-link);
				@media (prefers-color-scheme: dark) {
					color: var(--default-dark-link);
				}
			}
		}
	}
}

.toot-reply-to {
	margin-top: 0;
	padding-top: 0;
	line-height: 1.3em;
	color: clr.$gray-800;
	font-size: var.$text-sm;
	@media (prefers-color-scheme: dark) {
		color: clr.$gray-200;
	}
	.toot-like-icon, .toot-like-count {
		display: none;
	}
}

.toot-card {
	position: relative;
	@media screen and (min-width: var.$bkpt_md) {
		display: flex;
	}
	border: 2px solid;
	border-color: clr.$gray-400;
	border-radius: 6px;
	margin-top: 1em;
	text-decoration: none;
	overflow: hidden;
	&-image {
		flex: 0 0 100px;
		@media screen and (min-width: var.$bkpt_md) {
			flex: 0 0 200px;
		}
		border-right: 2px solid;
		border-right-color: clr.$gray-400;
		position: relative;
		&-image {
			display: block;
			margin: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
			background-size: cover;
			background-position: 50%;
		}
	}
	&-content {
		flex: 1 1 auto;
		overflow: hidden;
		padding: 0.75em;
		line-height: 1.5;
		.card-title {
			font-weight: bold;
		}
		.card-title, .card-description {
			font-size: var.$text-sm;
		}
	}
}
